.benefits {
  margin-bottom: 131px;
}

.benefits__wrapper {
  position: relative;
  max-width: 1262px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.benefits__title {
  @include font(35px, 42px);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(-99%);
  padding: 93px 100px 88px 100px;
  font-weight: 500;
  background-color: #ffffff;
}

.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
}

.benefits__card {
  grid-column: span 1;
  margin-bottom: 112px;
}

.benefits__card-pic {
  max-width: 66px;
  margin-bottom: 37px;
}

.benefits__card-title {
  @include font(18px, 24px);
  font-weight: 500;
  margin-bottom: 26px;
}

.benefits__card-desc {
  margin-bottom: 39px;
}

.benefits__card-more {
  display: inline-block;
  padding-right: 59px;
  text-transform: uppercase;
  text-decoration: none;
  color: #006dfe;
  background-image: url("../img/arrow-icon.svg");
  background-repeat: no-repeat;
  background-position: 95% center;
  transition: 0.2s all;
  &:hover,
  &:focus {
    background-image: url("../img/arrow-icon.svg");
    background-repeat: no-repeat;
    background-position: right center;
  }
}

@media screen and (max-width: 960px) {
  .benefits__cards {
    grid-column-gap: 35px;
    padding: 0 15px;
  }

  .benefits__title {
    padding: 55px 15px;
  }

  .benefits__wrapper {
    box-shadow: none;
  }

  .benefits__card {
    margin-bottom: 50px;
  }

  .benefits {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 767px) {
  .benefits__card {
    grid-column: span 3;
  }

  .benefits__card-pic {
    max-width: 66px;
    margin-bottom: 20px;
  }

  .benefits__card-title {
    margin-bottom: 12px;
  }

  .benefits__card-desc {
    margin-bottom: 20px;
  }

  .benefits {
    margin-bottom: 36px;
  }

  .benefits__card {
    margin-bottom: 40px;
  }
}
