.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 20px;
  transition: 0.3s linear;
  z-index: 100;
}

.header--active {
  background-color: $header-bg-color;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 56px;
}
.header__logo {
  margin-right: 50px;
}

.header__nav {
  margin-left: auto;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header__item {
  margin-left: 82px;
}

.header__link {
  @include font(18px, 24px);
  color: $nav-link-color;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.75;
  }
}

.header__burger {
  display: none;
  position: relative;
  width: 40px;
  height: 28px;
  cursor: pointer;
}
.burger__line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: $nav-link-color;
}

.burger__line--first {
  top: 0;
}

.burger__line--second {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line--third {
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .header__burger {
    display: block;
  }
  .header__nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $header-bg-color;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
    transition: 0.25s all linear;
  }

  .header__nav--active {
    transform: translateX(0);
  }

  .header__item {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .header__link {
    @include font(42px, 48px);
  }

  .header__nav-close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .header__nav-close-line {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    background-color: $nav-link-color;
    &:first-child {
      transform: translateY(-50%) rotate(45deg);
    }
    &:last-child {
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  .header__wrapper {
    padding-top: 28px;
  }
}

@media screen and (max-width: 500px) {
  .header__nav {
    padding: 75px 30px;
  }
}
