.intro {
  padding-top: 263px;
  padding-bottom: 376px;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__title {
  @include font(50px, 60px);
  max-width: 619px;
  color: $font-other-color;
  margin-bottom: 22px;
}

.intro__subtitle {
  max-width: 546px;
  color: $font-other-color;
  margin-bottom: 59px;
}

@media screen and (max-width: 767px) {
  .intro {
    padding-top: 125px;
  }

  intro__title {
    @include font(32px, 48px);
  }
}
