.top {
  margin-bottom: 86px;
}

.top__title {
  margin-bottom: 54px;
}

.top__cards-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 57px;
  grid-row-gap: 57px;
}

.top__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column: span 2;
}

.top__card-pic {
  position: relative;
  margin-bottom: 45px;
}

.top__card-stats {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 16px 24px;
  font-weight: 500;
  background-color: rgba(21, 24, 36, 0.6);
}

.top_card-title {
  @include font(18px, 24px);
  color: $font-other-color;
  text-transform: uppercase;
  margin-right: auto;
}

.top__card-likes,
.top__card-comments {
  color: $font-other-color;
}

.top__card-likes {
  padding-right: 20px;
  background-image: url("../img/like-icon.svg");
  background-repeat: no-repeat;
  background-position: center right;
  margin-right: 14px;
}

.top__card-comments {
  padding-right: 23px;
  background-image: url("../img/comment-icon.svg");
  background-repeat: no-repeat;
  background-position: center right;
}

.top__card-desc {
  margin-bottom: 31px;
}

.top__card-more {
  display: inline-block;
  @include font(16px, 19px);
  padding: 12px 19px 11px 19px;
  color: $font-other-color;
  background-color: $button-color;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: auto;

  &:hover,
  &:focus {
    background-color: $button-hover-color;
  }
}

@media screen and (max-width: 960px) {
  .top__cards-list {
    grid-column-gap: 25px;
    grid-row-gap: 55px;
  }

  .top__card {
    grid-column: span 3;
  }

  .top__card-pic {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  .top {
    margin-bottom: 76px;
  }

  .top__card {
    grid-column: span 6;
  }

  .top__card-desc {
    margin-bottom: 15px;
  }
}
