$font-main: "Lato", "Arial", sans-serif;
$font-main-color: #000000;
$font-other-color: #ffffff;
$nav-link-color: #ffffff;
$button-color: #006dfe;
$button-hover-color: #0c56b7;
$header-bg-color: #0e1d28;
